.admin-menu {
  margin-left: 50px;
  display: inline-block;
}

.admin-menu-title {
	font-size: 20px;
	display: inline-block;
}

.dropdown-header {
  font-size: 14px;
  font-weight: bold;
  color: black;
}