.admin-menu {
  margin-left: 50px;
  display: inline-block;
}

.admin-menu-title {
	font-size: 20px;
	display: inline-block;
	margin-left: 10px;
}

.dropdown-header {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.edit-block {
	margin: 5px;
}

.content-edit-form {
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	border: 1px solid grey;
}

.content-edit-div {
	padding: 0;
}

.inline {
	display: inline-block;
}

.radio-inline {
	margin-left: 10px;
}

.radio-margin-fix {
	top: -13px;
}

.remove-button {
	border-radius: 50%;
	font-size: 10px;
}