.book-type {
    margin: 10px;
    padding: 5px;
    color: darkslategray;
    display: inline;
    border-color: darkslategray;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    background-color: lightgray;
}

.book-type-list {
    height: 40px;
}
