sidebar {
    background-image: url('http://img01.deviantart.net/8bc3/i/2010/237/0/4/parchment_paper_2_by_allocer2009.jpg');
    background-size: cover;
    backgroun-repeat: repeat;
    box-shadow: 0 0 5px 3px #d5ba5f;

    width: 250px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding-top: 60px;
}

#filter{
    margin-top: 4vh;


}



