* {
    box-sizing: border-box;
}


body{
    color: #F1F1D4;
    font-family: Book Antiqua;
    font-family: Book Antiqua;
    background-image: url('woodBackground.jpg');
    background-repeat:repeat;
    background-size: 100%;
}

pre {
    clear: both;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


.navbar{
	background-color: #e1e1e1;
}

#main {
    padding-top: 60px;
    margin: 0 auto;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-top: 10%;
    margin-right:-4px;
}



@import './admin.scss';
@import './navbar.scss';
@import './sidebar.scss';
@import './searchResult.scss';
@import './bookType.scss';
@import './login.scss';
@import './welcome.scss'

