sidebar {
	height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    border-right: 2px solid #555;
    transition: 0.5s;
    padding-top: 60px;
  /*color: white;
  position: relative;
  left: 0;
  top: 0;
  padding: 0 !important;
  background: #303030;
  height: 100%;
  width: 25%;
  float: left;
  border-right: 2px solid #555;*/ 
}



