.cart-sidebar {
    background-image: url('http://img01.deviantart.net/8bc3/i/2010/237/0/4/parchment_paper_2_by_allocer2009.jpg');
    box-shadow: 0 0 5px 3px #d5ba5f;
    height: 100vh;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
    padding-top: 60px;
    color: black;
    padding: 10px;
    overflow: scroll;
}

.singleBookImage {
    width: 100%;
    height: auto;
}

.bold-title {
    font-weight: bold;
}

.cart-item {
    padding: 5px 0;
}

.float-right {
    float: right;
}

.subtotal-box {
    border-top: 1px solid black;
    padding-top: 5px;
}

.total-box {
    border-top: 1px solid black;
    padding-top: 5px;
}

.subtotal-box-dark {
    border-top: 1px solid white;
    padding-top: 5px;
}

.total-box-dark {
    border-top: 1px solid white;
    padding-top: 5px;
}

.enlarge {
    font-size: 18px;
}

.book-reviews {
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    color: white;
}

.single-review {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    color: black;
}

.single-review textarea {
    width: 100%;
}

.glyphicon-star {
    color: #FFB600;
}

.glyphicon-star, .glyphicon-star-empty {
    font-size: 16px;
}

